<form action="#">
<label class="text-gray-100">Username:</label>
<input id="username" type="text" name="username" value=" {{ user.username }}">
<br>
<label class="text-gray-100">Introduction:</label>
<textarea id="intro" name="intro" cols="30" rows="2">{{user.intro}}</textarea>
<br>
<label class="text-gray-100">Email: {{ user.email }}</label>
<button id="formBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
</form>


{{!-- <a href="/users/{{user.email}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit Account</a> --}}

{{!-- <h1 class="text-gray-100">Recipes</h1>
{{#if recipes}}
  {{#each recipes}}
  <div class="recipes">
  <p class="text-gray-100">Title: {{ this.title }}</p>
  <p class="text-gray-100">Introduction: {{ this.intro }}</p>
  <p class="text-gray-100">Cooking Time: {{ this.cook_minutes }}</p>
  <p class="text-gray-100">Country: {{ this.country }}</p>
  <p class="text-gray-100">City: {{ this.city }}</p>
  <p class="text-gray-100">Image: {{ this.img }}</p>
  <p class="text-gray-100">Tags: {{ this.tags }}</p>
  <p class="text-gray-100">Steps: {{ this.steps }}</p>
  <p class="text-gray-100">Ingredients: {{ this.ingredients }}</p>
  {{#unless isOwner}}
  <button name="{{this.id}}" class="bg-transparent hover:bg-red-500 text-white font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded delete">X</button>
  {{/unless}}
  </div>
  {{/each}} --}}
  {{!-- RECIPES --}}
<h1 class="text-gray-100 text-5xl">Recipes</h1>
<div class="my-6">
{{#if recipes}}
  {{#each recipes}}
  {{!-- CARD --}}
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white relative">
  <img class="w-full" src="{{this.img}}" alt="{{this.title}}">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{this.title}}</div>
    <p class="text-gray-700 text-base">
      {{this.intro}}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2 flex justify-center">

    <a href="/recipes/{{this.id}}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  See Full Recipe
</a>
</div>
  <div class="px-6 pt-4 pb-2">
    {{#each this.tags}}
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{this}}</span>
    {{/each}}
  </div>
  {{#unless isOwner}}
  <button name="{{this.id}}" class="absolute top-0 right-0 bg-red-500 text-black font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded delete">X</button>
  <a href="/recipes/{{this.id}}/edit" class="absolute top-0 left-0 bg-yellow-500 text-black font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">Edit Recipe</a>
  {{/unless}}
  </div>
  {{/each}}
</div>
  </div>

{{/if}}

<script>
  // RECIPE Delete buttons
const deleteBtns = document.querySelectorAll('.delete') || null
if(deleteBtns) {
  deleteBtns.forEach(btn => {
    btn.addEventListener('click', (e) => {
    const recipeId = e.target.name
    axios.delete(`/recipes/${recipeId}`)
      .then(res => {
        console.log(res)
        // redirects user after deletion
        window.location = res.data.redirectUrl
      })
      .catch(err => {
        console.log(err)
      })
  })
  })
}
 // PROFILE Update Button
  const username = document.querySelector('#username')
  const intro = document.querySelector('#intro')
  const formBtn = document.querySelector('#formBtn')


  formBtn.addEventListener('click', (e) => {
    e.preventDefault()
    const formData = {}
    formData.intro = intro.value
    formData.username = username.value
    axios.patch('/users/{{user.email}}', formData)
    .then(res => {
      console.log(res)
      window.location = res.data.redirectUrl
    })
    .catch(err => {
      console.log(err)
    })
  })
</script>