<p class="text-gray-100">Username: {{ user.username }}</p>
<p class="text-gray-100">Introduction: {{ user.intro }}</p>
<p class="text-gray-100">Email: {{ user.email }}</p>

<a href="/users/{{user.email}}/edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit Account</a>

<h1 class="text-gray-100">Recipes</h1>
{{#if recipes}}
  {{#each recipes}}
  <div class="recipes">
  <p class="text-gray-100">Title: {{ this.title }}</p>
  <p class="text-gray-100">Introduction: {{ this.intro }}</p>
  <p class="text-gray-100">Cooking Time: {{ this.cook_minutes }}</p>
  <p class="text-gray-100">Country: {{ this.country }}</p>
  <p class="text-gray-100">City: {{ this.city }}</p>
  <p class="text-gray-100">Image: {{ this.img }}</p>
  <p class="text-gray-100">Tags: {{ this.tags }}</p>
  <p class="text-gray-100">Steps: {{ this.steps }}</p>
  <p class="text-gray-100">Ingredients: {{ this.ingredients }}</p>
  {{!-- {{#unless isOwner}}
  <button id="delete" name="{{this.id}}" class="text-gray-100">X</button>
  {{/unless}} --}}
  </div>
  {{/each}}
{{/if}}

<script>
/* const deleteBtn = document.querySelector('#delete') || null
if(deleteBtn) {

deleteBtn.addEventListener('click', (e) => {
  const recipeId = e.target.name
  axios.delete(`/recipes/${recipeId}`)
    .then(res => {
      console.log(res)
      // redirects user after deletion
      window.location = res.data.redirectUrl
    })
    .catch(err => {
      console.log(err)
    })
})
} */
</script>