<p class="text-gray-100">Title: {{ recipe.title }}</p>
<p class="text-gray-100">Introduction: {{ recipe.intro }}</p>
<p class="text-gray-100">Cooking Time: {{ recipe.cook_minutes }}</p>
<p class="text-gray-100">Country: {{ recipe.country }}</p>
<p class="text-gray-100">City: {{ recipe.city }}</p>
<p class="text-gray-100">Image: {{ recipe.img }}</p>
<p class="text-gray-100">Tags: {{ recipe.tags }}</p>
<p class="text-gray-100">Steps: {{ recipe.steps }}</p>
<p class="text-gray-100">Ingredients: {{ recipe.ingredients }}</p>
<p class="text-gray-100">Posted By:{{ user.username }}</p>
<button id="delete" name="{{recipe.id}}" class="text-gray-100">X</button>

<script>
const deleteBtn = document.querySelector('#delete')
deleteBtn.addEventListener('click', (e) => {
  const recipeId = e.target.name
  axios.delete(`/recipes/${recipeId}`)
    .then(res => {
      console.log(res)
      // redirects user after deletion
      window.location = res.data.redirectUrl
    })
    .catch(err => {
      console.log(err)
    })
})
</script>